## Normal gitignore for C/C++ dev on Linux
# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Don't commit examples...
Bin/example*

